
h1,strong{
    text-align: center;
}
.container {
    max-width: 500px;
    margin: 50px auto;
    text-align: left;
    margin-top: 150px;
}

form {
    border: 1px solid #0521f7;
    background: #ecf5fc;
    padding: 40px 50px 45px;
}
.form-control:focus {
    border-color: #000;
    box-shadow: none;
}
label {
    font-weight: 600;
    padding-left: 50px;
}
.error {
    color: red;
    font-weight: 400;
    display: block;
    padding: 6px 0;
    font-size: 14px;
}
.form-control.error {
    border-color: red;
}
span{
    color: red;
    padding-left: 75px;
}
div
{
    padding-bottom: 25px;
}
.form-btn{
    margin-top: 20px;
    margin-left: 150px;
}
.login-button{
    margin-top: 20px;
    margin-left: 150px;
}
.navbar-brand
{
    text-align: center;
}
